@import url('https://fonts.googleapis.com/css?family=Proxima+Nova:regular,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,600&display=swap');

body {
  font-family: "Montserrat";
  font-weight: regular;
  letter-spacing: -1.5px;
}

h1 {


  font-weight: 600;

  /*
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  */
  font-size: 36px;
  line-height: 50px;


  color: #250044;
}

/*------------Container with no progress bar -----------*/

.cerebral-logo{
  height:100%;
}

.container-noprogress {
  margin-top: 85px;
  max-width:604px;
}

.container-progress {
  width:100%;
}

.header-noprogress {
  height:37px;
}

.main-noprogress {
  width:604px;
  align-self: center;
}

.description_noprogress{
  margin-top:40px;
  margin-bottom:50px;
}

.description_noprogress h1 {
   margin-bottom:0px;
   font-weight: 600;
   color: #250044;
}
/*----------------- components ------------------------*/
.selector-component {

}

.button-two-selector {
  font-size: 18px;
  font-weight: 600;
  min-width: 300px;
  height: 65px;
  border: 2px solid #250044;
  border-radius: 2px;
  padding: 20px 0px;
  transition: ease-in-out 0.3s;
  background: #ffffff;
  color:#250044;
}

.button-two-selector:hover {
    background: #250044;
    color: #FFFFFF;
}

.button-multi-selector {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100%;
  height: 65px;
  border: 2px solid #250044;
  border-radius: 2px;
  padding: 20px 0px;
  transition: ease-in-out 0.3s;
  background: #ffffff;
  color:#250044;
}

.button-multi-selector:hover {
    background: #250044;
    color: #FFFFFF;
}



.agree-holder {
  margin-top:20px;
}

.confirm-btn-holder {
  margin-top:50px;
}

.link-btn-holder {

}

.btn-link {
  padding-top:20px;
  max-width:340px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.43px;

  color: #250044;
}

.group-check-box-item{
  min-height: 60px;
  margin-bottom:20px;
}

.last-item{
  padding-bottom:0px;
  margin-bottom:0px;
}


.group-checkbox-text{
  padding-right:52px;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height, or 100% */

  text-align: center;
  letter-spacing: -0.43px;

  color: #250044;
  min-height:60px;
}

.state-selector {
  background: #FFFFFF;
  height: 60px;
  border: 1px solid #250044;
  border-radius: 2px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.43px;
  color: #250044;
}

/*---------------------------will be removed---------------------------*/

.video-cam-holder {
	height: 400px;
}

.id-image {
  width: 40%;
}
.id-image-holder {
  text-align: center;
  padding: 5px;
  padding-bottom: 20px;
}

.dropzone {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    transition: border .24s ease-in-out;
}
.selector-holder {
    height: 85px;
    width: 50%
}

.input-holder {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.43px;

  color: #250044;
  margin-bottom:20px;
}

.input-type1::placeholder  {
  color: rgba(37, 0, 68, 1.0);
}

.input-type1 {

  background: #FFFFFF;
  border: 1px solid #250044;
  border-radius: 2px;
  height: 60px;
}

.input_height_weight {
  height: 100%;
  border: 0;
  border-left: 1px solid #250044;
}

.text_field_height_weight{
  width : 75%;
}

.span_height_weight{
  width : 100%;
  background-color:white;
  border:0;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 18px;

  letter-spacing: -0.43px;

  color: #250044;
}

.group-checkbox {
  background-color:white;
  border: 2px solid #250044;
  border-right: none
}

.group-checkbox-text {
  border: 2px solid #250044;
  border-left: none;
}


.checkbox-type1{
  max-width: 20px;
  height: 30px;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(37, 0, 68, 1.0);
}

.btn-arrow {
  font-size: 48.0px;
  color: rgba(37, 0, 68, 1.0);
}

.btn-confirm {
  background-color: rgba(37, 0, 68, 1.0);
  height: 60px;
  max-width: 340px;
  min-width: 340px;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(37, 0, 68, 1.0);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-confirm:hover {
  background: #3E0370;
  border-radius: 28.5px;
}


.btn-selector {
  height:90%;
  background-color: rgba(0,0,0,0);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(37, 0, 68, 1.0);
}

.text-recommendation {
  background-color: rgba(37, 0, 68);
  color:  white
}

.text-btn {

  font-size: 18px;
  line-height: 22px;
/* identical to box height, or 122% */

  text-align: center;
  letter-spacing: -0.314286px;
  
  color: rgba(255, 255, 255, 1.0);
}


.text-btn2 {
  font-family: "ProximaNova-Bold", Helvetica, Arial, serif;
  font-size: 24.0px;
  color: rgba(36, 0, 68, 1.0);
}

.text_description {
  
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.375px;
  color: #250044;

  padding-top:20px;
  /* or 167% */
}

.text-small {
  font-size: 16.0px;
  color: rgba(37, 0, 68, 1.0);
}

.checkbox-text {
  padding-left:15px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: -0.344px;
  color: #444444;

}

.text-small-2 {

  font-family: Montserrat;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: -0.43px;

  color: #250044;
}

.text-small-red {
  font-size: #16.0px;
  color: #FFD2D2;
}

.text-small__unselected{
  font-size: 16.0px;
  color: #9998D6;
}

.text-middle {
  font-size: 20px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: -0.43px;
  color: rgba(37, 0, 68, 1.0);
}

.text-mid-title {
  font-size: 24.0px;
  color: rgba(37, 0, 68, 1.0);
}

.text-big {
  font-size: 48.0px;
  line-height: 1.2;
  color: rgba(37, 0, 68, 1.0);
}

.link-type1 {
  color: rgba(37, 0, 68, 1.0);
}

.solid-border-bottom {
  border-bottom: 10px solid rgba(37, 0, 68, 1.0);
}

.solid-border-bottom__unselected {
  border-bottom: 10px solid #9998D6;
}

.question-container {
  padding-top:50px;
  max-width : 604px;
  align-self: center;
}

.image-holder {
  padding:20px
}

/*------- profile(dashboard) page---------*/

.container {
  max-width: 1440px;
}

.profile-side-bar-holder {
  width:25%;
  height:1000px;
}

.profile-main-holder {
  width:80%;
  height:1000px;
  background-color:#F6F6F6;
}

.profile-main-container {
  width:100%;
  height:100%;
  padding:30px;
}

.profile-main-content {
  margin-top:50px;
  height:600px;
}

.log-out-divider {
  border-left: 2px solid #250044;
}

.profile-image-content{
  text-align: center;
  padding:5px;
  padding-bottom:20px;
}

.profile-image {
  padding:5px;
  width:50%;
}

.profile-image-name {
  font-size: 20px;
  text-transform: uppercase;

  color: #250044;

}

.profile-side-item {

  font-size: 22px;
  text-align: center;
  color: #250044;
  border-top: 1px solid #D3DBF8;
}

.profile-side-item:hover{
  color: #FFFFFF;
  background: #250044;
}


.profile-side-item-last {

  font-size: 22px;
  text-align: center;
  color: #250044;
  border-top: 1px solid #D3DBF8;
  border-bottom: 1px solid #D3DBF8;
}

.profile-side-item-last:hover {
  color: #FFFFFF;
  background: #250044;
}

.profile-logo {
  font-family: "Kepler-Std";
  font-size: 50px;
  color: #250044;
}

.profile-side-items-holder{
  padding-top:40px;
}

.text-logout {
  font-size: 22px;
  color: #250044;
}

.text-main-title{
  font-size:20px;
  color: #250044;
}

.main-content-row {
  margin-top:50px;
}

.main-content-small-card {
  background:#FFFFFF;
  width: 45%;
}

.small-card-main-area {
  margin-top:50px;
  margin-left:70px;
  margin-bottom:50px;
}

.card-items-container {
  padding:50px;
  padding-left:19px;
  padding-right:19px;
}

.small-card-title {
  font-size: 20px;
  color: #250044;
  line-height: 20px;
  letter-spacing: -0.43px;
  text-transform: uppercase;
}

.small-card-item {
  font-size: 18px;
  color:#250044;
  line-height: 18px;
  letter-spacing: -0.43px;
  padding-top:24px;
}


.small-card-item input {
  border: 2px solid #250044;
  width: 100%;
  height: 60px;
}

.small-card-item input::placeholder{
  color: #B9B8BA;
}

.small-card-btn {
  font-size: 18px;
  color:#250044; 
  line-height: 18px;
  letter-spacing: -0.43px;
  padding-top:50px;
}


.main-content-wide-card {
  background:#FFFFFF;
  margin-bottom:50px;
  width: 100%;
}

.wide-card-block {
  width:33%;
}



/*therapists input holder*/

.patient-refer-description{
  padding-top:20px;
  padding-bottom:20px;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.43px;
  text-transform: uppercase;
  color: #250044;
}
.therapist-question-container {
  padding-top:50px;
  width : 560px;
  align-self: center;
}

.patient-refer-items-holder {
  margin-top:30px;

}

.patient-refer-input-holder {
  width:450px;
  padding-left:90px
}

.patient-refer-left-item {
  align-items: center;
  width: 70px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.43px;
  color: #250044;
}

.patient-refer-right-item {
  width: 40 px;
  align-items: center;
}

.remove-button {
  padding-left:10px;
  height:30px;
  border: none;
}
.remove-button:hover {
  cursor:pointer;
}

.patient-refer-input-item {
  margin-bottom: 5px;
  margin-bottom: 5px;
}

.patient-refer-input {
  height: 40px;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(37, 0, 68, 1.0);
}

.patient-refer-add-btn-holder {
  margin-right:40px;
  margin-top:10px;

}
.add_patient_btn_text {
  font-size: 18px;
  line-height: 22px;

  text-align: center;
  letter-spacing: -0.43px;
  color: #979797;
  padding-left: 10px;
  padding-top:4px;
}

.patient-refer-submit-btn-holder {
  margin-top: 30px;
  padding-left:160px;
  padding-right:40px;
}

.patient-refer-submit-btn {
  width:100%;
  height: 60px;
  background: #250044;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  color:#FFFFFF;
  font-size: 18px;

  line-height: 22px;
  text-align: center;
  letter-spacing: -0.314286px;
}

.menu-bar {
  height:60px;
  padding-left:22px;
  padding-right:22px;
}
.menu-bar-item-holder {
  align-items: center;
}

.menu-item {
  font-weight: 600;
  padding-bottom:10px;
  font-size:16px;
}

.arrow-btn{
  width:15px;
  height:15px;
}

.add-patient-button {
  align-items: center;
}

.add-patient-button:hover{
  cursor:pointer;
}


/*---------------------max-width 820px breaking point ---------------------*/
@media (max-width:820px){

  .main-noprogress{
    width:100%; 
  }

  .button-two-selector{
    width:100%;   
    margin-top:20px;
  }  

}

